.title {
    color: #793ae6;
    font-size: 3rem;
    text-decoration: none;
}

.header{
    padding: 1rem 0 3rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    padding-bottom: .3rem;
}

.nav-item:hover{
    color: #666;
    border-bottom: 1px solid #9866ee;
    border-bottom-width: .3rem;
    transition: 0.1s;
}

.active-nav-item {
    color: #333;
    border-bottom: 1px solid #793ae6;
    border-bottom-width: .3rem;
}